<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="row" *ngIf="isEdit == 'true'">
          <div class="col-md-4 col-lg-3 col-sm-12">
            <h4 class="card-title float-left">Survey Details</h4>
          </div>
          <div class="col-md-8 col-lg-9 col-sm-12">
          </div>
        </div>
        <div class="d-flex justify-content-center" *ngIf="isEdit == 'false'">
          <h4 class="card-title float-left">{{surveyForm.projectName}}</h4>

        </div>
      </div>
      <div class="card-body">

        <div style="border-radius: 12px;" *ngIf="isEdit == 'true'">

          <div class="form-group">
            <div class="row">
              <div class="col-md-12">
                <label for="userName">Project Name</label>
                <input [(ngModel)]="surveyForm.projectName" name="projectName" style="margin-bottom: 10px;" type="text"
                  class="form-control" placeholder="Project Name" #projectName="ngModel">

              </div>
              <div class="col-md-12">
                <h6>Select Deadline Date</h6>
                <div class="input-group mb-3">
                  <input [(ngModel)]="surveyForm.expirationDate" (ngModelChange)="checkExpirationDate($event)"
                    style="margin-bottom: 10px; border: 1px solid #DDDDDD;" type="date" class="form-control"
                    placeholder="Enter expiration date">

                </div>
                <div *ngIf="isDateInvalid" class="error-message" style="color: red;">
                  The Deadline date cannot be earlier than today.
                </div>
              </div>
              <div class="col-md-12">
                <label for="name">Description</label>
                <input [(ngModel)]="surveyForm.desc" style="margin-bottom: 10px;" type="text" class="form-control"
                  placeholder="Description">
              </div>
              <div class="col-md-12">
                <label for="name">Survey Points</label>
                <input [(ngModel)]="surveyForm.points" name="points" style="margin-bottom: 10px;" type="number"
                  class="form-control" placeholder="Points" #points="ngModel">
              </div>

              <div class="col-md-12">
                <label for="status">Sector</label>
                <div class="input-group mb-3">
                  <select class="custom-select" [(ngModel)]="surveyForm.sector" id="inputGroupSelect02">
                    <option value="null">Select Sector</option>
                    <option *ngFor="let data of sectors" [value]="data.name">{{data.name}}
                    </option>
                  </select>

                </div>
              </div>
              <div class="col-md-12">
                <label for="status">Country</label>
                <div class="input-group mb-3">
                  <select class="custom-select" [(ngModel)]="surveyForm.country" id="inputGroupSelect02">
                    <option value="null">Select Country</option>
                    <option *ngFor="let data of countries" [value]="data.name">{{data.name}}
                    </option>
                  </select>

                </div>
              </div>
              <h5 style="padding-left: 10px;">Target Audiance</h5>
              <div class="col-md-12">

                <h6>Select target gender</h6>

                <div class="input-group mb-3">
                  <select class="custom-select" [(ngModel)]="surveyForm.filter.selectedGender" id="inputGroupSelect02">
                    <option [value]="'All'">All</option>
                    <option [value]="'Male'">Male</option>
                    <option [value]="'Female'">Female</option>
                    <option [value]="'Other'">Other</option>
                    <option [value]="'FemaleOther'">Female & Other</option>
                    <option [value]="'MaleFemale'">Male & Female</option>
                    <option [value]="'MaleOther'">Male & Other</option>
                  </select>

                </div>
              </div>
              <div class="col-md-12">

                <h6>Select target age</h6>

                <label for="name">From</label>
                <div class="input-group mb-3">
                  <input [(ngModel)]="surveyForm.filter.from" type="number" class="form-control"
                    (keyup)="valuechange($event,'from')" style="border: 1px solid #DDDDDD;"
                    placeholder="Enter start age">
                </div>

              </div>
              <div class="col-md-12">

                <label for="name">To</label>
                <div class="input-group mb-3">
                  <input [(ngModel)]="surveyForm.filter.to" type="number" class="form-control"
                    (keyup)="valuechange($event,'to')" style="border: 1px solid #DDDDDD;"
                    placeholder="Enter ending age">
                </div>
              </div>
              <div class="col-md-12">

                <label for="name">Exact Age</label>
                <div class="input-group mb-3">
                  <input [(ngModel)]="surveyForm.filter.exactAge" type="number" class="form-control"
                    (keyup)="valuechange($event,'exactAge')" style="border: 1px solid #DDDDDD;"
                    placeholder="Enter Exact age">
                </div>
              </div>



              <div class="col-md-12">
                <h6>Select target location</h6>

                <div class="input-group mb-3">
                  <input required autocomplete="on" [(ngModel)]="locationSearch" type="text" class="form-control"
                    (keydown.enter)="$event.preventDefault()" placeholder="Search Location" autocorrect="off"
                    autocapitalize="off" spellcheck="off" #search style="border: 1px solid #DDDDDD;" />

                </div>

                <div class="input-group mb-3">
                  <label for>Area Radius (meters)</label>
                  <div class="input-group mb-3" [formGroup]="radiusDiv">
                    <input id="radiusInputField" [(ngModel)]="newItemNumber" [formControl]="radiusInput"
                      formControlName="radius" type="number" class="form-control" (keyup)="setRadius()"
                      style="border: 1px solid #DDDDDD;" placeholder="Enter area radius to show surveys">
                  </div>
                  <div *ngIf="radiusInput.invalid && radiusInput.touched" style="color: red;">
                    <small *ngIf="radiusInput.errors.required">This field is required.</small>
                    <small *ngIf="radiusInput.errors.min">Value must be at least 500.</small>
                  </div>
                </div>

                <button (click)="addLocation()" class="btn btn-success float-right">Set Location</button>

                <div class="input-group mb-3">
                  <div class="item-list">
                    <div *ngFor="let item of items; let i = index" class="item">
                      <span>{{ item.text }} - </span>
                      <input type="number" [(ngModel)]="item.number">
                      <button (click)="updateItem(i, item.number)">Update</button>
                      <button (click)="removeItem(i)">Remove</button>
                    </div>
                  </div>
                </div>


                <div style="height: 400px; width: 100%;">
                  <agm-map style="height: 100%; width: 100%;" (mapClick)="mapClicked($event)" [latitude]="lat"
                    [longitude]="long">
                    <agm-marker [latitude]="data.lat" *ngFor="let data of selectedLocations" [longitude]="data.long"
                      [markerDraggable]="false" (dragEnd)="markerDragEnd($event,data.lat,data.long)"
                      (markerClick)="removeMarker(data.lat,data.long)"></agm-marker>
                    <agm-circle [latitude]="data.lat" [longitude]="data.long" *ngFor="let data of selectedLocations"
                      [radius]="data.rad" [fillColor]="circleColor" [fillOpacity]="fillOpacity"
                      [strokeColor]="circleColor" [strokeOpacity]="strokeOpacity" [strokeWeight]="2"></agm-circle>
                  </agm-map>
                </div>

              </div>



              <div class="col-md-12" *ngIf="user.role == 'admin'">
                <label for="status">Status</label>
                <div class="input-group mb-3">
                  <select class="custom-select" [(ngModel)]="surveyForm.status" id="inputGroupSelect02">
                    <option value="1">Active</option>
                    <option value="0">InActive</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <div dragula="dragulaActivityId" [(dragulaModel)]="surveyForm.question">
            <div class="questionform-array" *ngFor="let data of surveyForm.question; let i=index">
              <div class="d-flex justify-content-center">

                <b style="padding-left: 16px;padding-top:45px;font-size: 17px;">Question {{i+1}} ({{data.name}})</b>
              </div>
              <img (click)="openSetting(i)" data-toggle="modal" data-target="#settingModal"
                class="cp z-index-2 setting-img" src="assets/images/settings.png" height="20px" alt="" srcset="">
              <img (click)="removeQuestion(i)" class="cp z-index-2 delete-img" src="assets/images/delete.png"
                height="20px" alt="" srcset="">
              <div style="padding: 16px;">
                <div style="font-weight:bold">
                  Question: <input style="height: 43px;" [(ngModel)]="data.title" type="text" class="form-control"
                    placeholder="Enter Question">
                </div>
                <div style="font-weight:bold" class="mt-2">
                  Hint: <input style="height: 43px;" type="text" [(ngModel)]="data.hint" class="form-control"
                    placeholder="Enter Hint">
                </div>

                <div style="font-weight:bold" class="mt-2">
                  <button (click)="triggerFileInput(i)">Select Image</button>
                  <input type="file" #fileInput (change)="onFileChange($event, i)" class="form-control"
                    style="display: none;" accept="image/*">
                  <div *ngIf="data.image">
                    <img [src]="data.image" alt="Selected Image"
                      style="margin: 10px; border: 1px solid #ddd; border-radius: 4px; padding: 5px; width: 150px;">
                    <button (click)="removeImage(i)">Remove</button>
                  </div>
                </div>

              </div>
              <div class="d-flex flex-column" *ngIf="data.options" style="padding: 0px 16px 5px 16px;">
                <span style="font-weight:bold">Options:</span>
                <div *ngFor="let data2 of data.options;index as j"
                  class="d-flex align-items-center justify-content-between">

                  <div class="d-flex align-items-center justify-content-between w-100">

                    <input style="height: 43px;width: 92%;" type="text" [(ngModel)]="data2.option"
                      class="form-control mt-2" placeholder="Option {{j +1}}">

                    <img (click)="removeOption(i, j)" src="assets/delete.png" style="cursor: pointer;" height="20px"
                      alt="" srcset="">
                  </div>
                </div>
                <button class="btn btn-success" style="background-color: grey;" (click)="addNewFieldOption(i)">Add
                  Option</button>
              </div>

              <!-- start of first sub question -->
              <hr>
              <div class="d-flex flex-column" style="padding: 0px 16px 5px 16px;">
                <button class="btn btn-success" style="margin-top: 0px;background-color: grey;"
                  (click)="addDuplicate(data,i)">Duplicate Question</button>
              </div>

            </div>
          </div>

          <div *ngIf="surveyForm?.question?.length  == 0" class="d-flex align-items-center justify-content-center"
            style="min-height: 50vh;background-color: #f4f4f4;gap: 3;border-radius: 12px;">
            <h5 class="tw-text-[red]">No Survey Questions to show</h5>
          </div>
          <div class="d-flex justify-content-end">
            <button class="btn btn-success" style="min-height: 7vh;
           width: 23%;float: right;" (click)="addQuestion = true;">Add Question</button>
            <button type="submit" (click)="saveLibrary()" class="btn btn-success"
              style="min-height: 7vh; width: 23%;float: right;">
              Save Form to Library</button>
            <button type="submit" (click)="saveSurvey()" class="btn btn-success"
              style="min-height: 7vh; width: 23%;float: right;">
              Save Form</button>
            <button type="submit" (click)="exportDataToExcel()" class="btn btn-success"
              style="min-height: 7vh; width: 23%;float: right;">
              Convert to Excel</button>
          </div>
          <div class="d-flex " style="flex-wrap: wrap;gap: 4px;" *ngIf="addQuestion">
            <div (click)="addNewFieldQuestion(data);"
              [ngStyle]="{'background-color':data.key  == selectedKey? '#7b4a9c':'#E5E5E5','color':data.key  == selectedKey? 'white':'black'}"
              *ngFor="let data of questionKeys; let i=index" class="d-flex align-items-center justify-content-center"
              style="flex-grow: 1;width: 146px;min-height: 40px; max-height: 55px; font-size: 15px;font-weight: 500;cursor: pointer;">
              {{data.name}}
            </div>
          </div>
        </div>


        <!-- if view  -->
        <div *ngIf="isEdit == 'false'">
          <p>{{surveyForm.desc}}</p>

          <div *ngFor="let question of this.surveyForm.question;index as i">
            <!-- Quesition 1-->
            <div *ngIf="question.key == 'selectOne' && skipLogicCondition(question,i)">
              <div style="font-weight: bold;">
                <span *ngIf="question.settings.isImp == true" style="color: red;">*</span> {{question.title}}
              </div>
              <div *ngIf="question.hint != ''" style="font-size: 10px;font-style: italic;margin-left: 25px;">
                {{question.hint}}</div>
              <div class="d-flex flex-column">
                <div class="d-flex" *ngFor="let optionValue of question.options;index as j">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" (change)="selectOption($event,question)"
                      [(ngModel)]="question.answer" type="radio" name="question{{i}}" [value]="optionValue.option">
                    <label class="form-check-label" for="inlineRadio2">{{optionValue.option}}</label>
                  </div>
                  <div>
                  </div>
                </div>
                <div
                  *ngIf="question.settings.isImp == 'true' && question.settings.errorMessage != '' && question.answer == ''"
                  class="text-danger" style="font-weight: bold;">{{question.settings.errorMessage}}</div>
              </div>
            </div>
            <!-- Quesition 2-->
            <div *ngIf="question.key == 'selectMany' && skipLogicCondition(question,i)">
              <div style="font-weight: bold;">
                <span *ngIf="question.settings.isImp == true" style="color: red;">*</span> {{question.title}}
              </div>
              <div *ngIf="question.hint != ''" style="font-size: 10px;font-style: italic;margin-left: 25px;">
                {{question.hint}}</div>
              <div class="d-flex flex-column">
                <div class="d-flex" *ngFor="let optionValue of question.options;index as j">
                  <div class="form-check form-check-inline">
                    <label class="form-check-label" for="question{{ i }}">
                      {{optionValue.option}} </label>
                    <input type="checkbox" (change)="selectOptionMulti($event,question,optionValue)"
                      [(ngModel)]="optionValue.checked" id="question{{ i }}" name="question{{ i }}"
                      style="visibility: visible;opacity: 22;">
                  </div>
                  <div>
                  </div>
                </div>
                <div
                  *ngIf="question.settings.isImp == 'true' && question.settings.errorMessage != '' && question.answer == ''"
                  class="text-danger" style="font-weight: bold;">{{question.settings.errorMessage}}</div>
              </div>
            </div>
            <!-- question 3 -->
            <div *ngIf="question.key == 'text' && skipLogicCondition(question,i)">
              <div style="font-weight: bold;">
                <span *ngIf="question.settings.isImp == true" style="color: red;">*</span> {{question.title}}
              </div>
              <div *ngIf="question.hint != ''" style="font-size: 10px;font-style: italic;margin-left: 25px;">
                {{question.hint}}</div>
              <div class="d-flex flex-column">
                <div class="form-group">

                  <input class="form-control" type="text" [(ngModel)]="question.answer" id="question{{ i }}"
                    name="question{{ i }}">
                </div>
                <div
                  *ngIf="question.settings.isImp == 'true' && question.settings.errorMessage != '' && question.answer == ''"
                  class="text-danger" style="font-weight: bold;">{{question.settings.errorMessage}}</div>
              </div>
            </div>
            <!-- question 4 -->
            <div *ngIf="question.key == 'number' && skipLogicCondition(question,i)">
              <div style="font-weight: bold;">
                <span *ngIf="question.settings.isImp == true" style="color: red;">*</span> {{question.title}}
              </div>
              <div *ngIf="question.hint != ''" style="font-size: 10px;font-style: italic;margin-left: 25px;">
                {{question.hint}}</div>
              <div class="d-flex flex-column">
                <div class="form-group">

                  <input class="form-control" type="number" [(ngModel)]="question.answer" id="question{{ i }}"
                    name="question{{ i }}">
                </div>
                <div
                  *ngIf="question.settings.isImp == 'true' && question.settings.errorMessage != '' && question.answer == ''"
                  class="text-danger" style="font-weight: bold;">{{question.settings.errorMessage}}</div>
              </div>
            </div>
            <!-- question 5 -->
            <div *ngIf="question.key == 'location' && skipLogicCondition(question,i)">
              <div style="font-weight: bold;">
                <span *ngIf="question.settings.isImp == true" style="color: red;">*</span> {{question.title}}
              </div>
              <div *ngIf="question.hint != ''" style="font-size: 10px;font-style: italic;margin-left: 25px;">
                {{question.hint}}</div>
              <div class="d-flex flex-column">
                <div class="form-group mt-2">

                  <input class="form-control" type="text" [(ngModel)]="question.answer" id="question{{ i }}"
                    name="question{{ i }}">
                </div>
                <div
                  *ngIf="question.settings.isImp == 'true' && question.settings.errorMessage != '' && question.answer == ''"
                  class="text-danger" style="font-weight: bold;">{{question.settings.errorMessage}}</div>
              </div>
            </div>
            <!-- question 6 -->
            <div *ngIf="question.key == 'photo' && skipLogicCondition(question,i)">
              <div style="font-weight: bold;">
                <span *ngIf="question.settings.isImp == true" style="color: red;">*</span> {{question.title}}
              </div>
              <div *ngIf="question.hint != ''" style="font-size: 10px;font-style: italic;margin-left: 25px;">
                {{question.hint}}</div>
              <div class="d-flex flex-column">
                <div class="form-group mt-2">
                  add image

                </div>
                <div
                  *ngIf="question.settings.isImp == 'true' && question.settings.errorMessage != '' && question.answer == ''"
                  class="text-danger" style="font-weight: bold;">{{question.settings.errorMessage}}</div>
              </div>
            </div>

            <!-- Quesition 7-->
            <div *ngIf="question.key == 'rating' && skipLogicCondition(question,i)">
              <div style="font-weight: bold;">
                <span *ngIf="question.settings.isImp == true" style="color: red;">*</span> {{question.title}}
              </div>
              <div *ngIf="question.hint != ''" style="font-size: 10px;font-style: italic;margin-left: 25px;">
                {{question.hint}}</div>
              <div class="d-flex flex-column">
                <div class="d-flex" *ngFor="let optionValue of question.options;index as j">
                  <div class="form-check form-check-inline ">
                    <input class="form-check-input" (change)="selectOption($event,question)"
                      [(ngModel)]="question.answer" type="radio" name="question{{i}}" [value]="optionValue.option">
                    <label class="form-check-label" for="inlineRadio2">{{optionValue.option}}</label>
                  </div>
                  <div>
                  </div>
                </div>
                <div
                  *ngIf="question.settings.isImp == 'true' && question.settings.errorMessage != '' && question.answer == ''"
                  class="text-danger" style="font-weight: bold;">{{question.settings.errorMessage}}</div>
              </div>
            </div>

            <!-- Quesition 8-->
            <div *ngIf="question.key == 'datetime' && skipLogicCondition(question,i)">
              <div style="font-weight: bold;">
                <span *ngIf="question.settings.isImp == true" style="color: red;">*</span> {{question.title}}
              </div>
              <div *ngIf="question.hint != ''" style="font-size: 10px;font-style: italic;margin-left: 25px;">
                {{question.hint}}</div>
              <div class="d-flex flex-column">
                <div class="form-group mt-2">
                  <input class="form-control" [(ngModel)]="question.answer" type="datetime-local" name="question{{i}}">

                </div>
                <div
                  *ngIf="question.settings.isImp == 'true' && question.settings.errorMessage != '' && question.answer == ''"
                  class="text-danger" style="font-weight: bold;">{{question.settings.errorMessage}}</div>
              </div>
            </div>





            <!-- sub questions -->
            <div>
              <div *ngFor="let subquestion of question?.finalSubQuestions;index as k">
                <!-- subquestion 1 -->

                <div *ngIf="subquestion.key == 'selectOne'">
                  <div style="font-weight: bold;">
                    <span *ngIf="subquestion.settings.isImp == true" style="color: red;">*</span>
                    {{subquestion.title}}
                  </div>
                  <div *ngIf="subquestion.hint != ''" style="font-size: 10px;font-style: italic;margin-left: 25px;">
                    {{subquestion.hint}}</div>
                  <div class="d-flex flex-column">
                    <div class="d-flex" *ngFor="let optionValue of subquestion.options;index as j">
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" [(ngModel)]="subquestion.answer" type="radio"
                          name="subquestion{{k}}" [value]="optionValue.option">
                        <label class="form-check-label" for="subquestion{{k}}">{{optionValue.option}}</label>
                      </div>
                      <div>
                      </div>
                    </div>
                    <div
                      *ngIf="subquestion.settings.isImp == 'true' && subquestion.settings.errorMessage != '' && subquestion.answer == ''"
                      class="text-danger" style="font-weight: bold;">{{subquestion.settings.errorMessage}}</div>
                  </div>
                </div>

                <!-- subquestion 2 -->
                <div *ngIf="subquestion.key == 'selectMany'">
                  <div style="font-weight: bold;">
                    <span *ngIf="subquestion.settings.isImp == true" style="color: red;">*</span>
                    {{subquestion.title}}
                  </div>
                  <div *ngIf="subquestion.hint != ''" style="font-size: 10px;font-style: italic;margin-left: 25px;">
                    {{subquestion.hint}}</div>
                  <div class="d-flex flex-column">
                    <div class="d-flex" *ngFor="let optionValue of subquestion.options;index as j">
                      <div class="form-check form-check-inline">
                        <label class="form-check-label" for="subquestion{{ i }}">
                          {{optionValue.option}} </label>
                        <input type="checkbox" (change)="selectOptionMulti($event,subquestion,optionValue)"
                          [(ngModel)]="optionValue.checked" id="subquestion{{ i }}" name="subquestion{{ i }}"
                          style="visibility: visible;opacity: 22;">
                      </div>
                      <div>
                      </div>
                    </div>
                    <div
                      *ngIf="subquestion.settings.isImp == 'true' && subquestion.settings.errorMessage != '' && subquestion.answer == ''"
                      class="text-danger" style="font-weight: bold;">{{subquestion.settings.errorMessage}}</div>
                  </div>
                </div>
                <!-- subquestion 3 -->
                <div *ngIf="subquestion.key == 'text'">
                  <div style="font-weight: bold;">
                    <span *ngIf="subquestion.settings.isImp == true" style="color: red;">*</span>
                    {{subquestion.title}}
                  </div>
                  <div *ngIf="subquestion.hint != ''" style="font-size: 10px;font-style: italic;margin-left: 25px;">
                    {{subquestion.hint}}</div>
                  <div class="d-flex flex-column">
                    <div class="form-group">

                      <input class="form-control" type="text" [(ngModel)]="subquestion.answer" id="subquestion{{ i }}"
                        name="subquestion{{ i }}">
                    </div>
                    <div
                      *ngIf="subquestion.settings.isImp == 'true' && subquestion.settings.errorMessage != '' && subquestion.answer == ''"
                      class="text-danger" style="font-weight: bold;">{{subquestion.settings.errorMessage}}</div>
                  </div>
                </div>
                <!-- subquestion 4 -->
                <div *ngIf="subquestion.key == 'number'">
                  <div style="font-weight: bold;">
                    <span *ngIf="subquestion.settings.isImp == true" style="color: red;">*</span>
                    {{subquestion.title}}
                  </div>
                  <div *ngIf="subquestion.hint != ''" style="font-size: 10px;font-style: italic;margin-left: 25px;">
                    {{subquestion.hint}}</div>
                  <div class="d-flex flex-column">
                    <div class="form-group">

                      <input class="form-control" type="number" [(ngModel)]="subquestion.answer" id="subquestion{{ i }}"
                        name="subquestion{{ i }}">
                    </div>
                    <div
                      *ngIf="subquestion.settings.isImp == 'true' && subquestion.settings.errorMessage != '' && subquestion.answer == ''"
                      class="text-danger" style="font-weight: bold;">{{subquestion.settings.errorMessage}}</div>
                  </div>
                </div>
                <!-- subquestion 5 -->
                <div *ngIf="subquestion.key == 'location'">
                  <div style="font-weight: bold;">
                    <span *ngIf="subquestion.settings.isImp == true" style="color: red;">*</span>
                    {{subquestion.title}}
                  </div>
                  <div *ngIf="subquestion.hint != ''" style="font-size: 10px;font-style: italic;margin-left: 25px;">
                    {{subquestion.hint}}</div>
                  <div class="d-flex flex-column">
                    <div class="form-group mt-2">

                      <input class="form-control" type="text" [(ngModel)]="subquestion.answer" id="subquestion{{ i }}"
                        name="subquestion{{ i }}">
                    </div>
                    <div
                      *ngIf="subquestion.settings.isImp == 'true' && subquestion.settings.errorMessage != '' && subquestion.answer == ''"
                      class="text-danger" style="font-weight: bold;">{{subquestion.settings.errorMessage}}</div>
                  </div>
                </div>
                <!-- subquestion 6 -->
                <div *ngIf="subquestion.key == 'photo'">
                  <div style="font-weight: bold;">
                    <span *ngIf="subquestion.settings.isImp == true" style="color: red;">*</span>
                    {{subquestion.title}}
                  </div>
                  <div *ngIf="subquestion.hint != ''" style="font-size: 10px;font-style: italic;margin-left: 25px;">
                    {{subquestion.hint}}</div>
                  <div class="d-flex flex-column">
                    <div class="form-group mt-2">
                      add image

                    </div>
                    <div
                      *ngIf="subquestion.settings.isImp == 'true' && subquestion.settings.errorMessage != '' && subquestion.answer == ''"
                      class="text-danger" style="font-weight: bold;">{{subquestion.settings.errorMessage}}</div>
                  </div>
                </div>

                <!-- subquestion 7-->
                <div *ngIf="subquestion.key == 'rating'">
                  <div style="font-weight: bold;">
                    <span *ngIf="subquestion.settings.isImp == true" style="color: red;">*</span>
                    {{subquestion.title}}
                  </div>
                  <div *ngIf="subquestion.hint != ''" style="font-size: 10px;font-style: italic;margin-left: 25px;">
                    {{subquestion.hint}}</div>
                  <div class="d-flex flex-column">
                    <div class="d-flex" *ngFor="let optionValue of subquestion.options;index as j">
                      <div class="form-check form-check-inline ">
                        <input class="form-check-input" (change)="selectOption($event,subquestion)"
                          [(ngModel)]="subquestion.answer" type="radio" name="subquestion{{i}}"
                          [value]="optionValue.option">
                        <label class="form-check-label" for="inlineRadio2">{{optionValue.option}}</label>
                      </div>
                      <div>
                      </div>
                    </div>
                    <div
                      *ngIf="subquestion.settings.isImp == 'true' && subquestion.settings.errorMessage != '' && subquestion.answer == ''"
                      class="text-danger" style="font-weight: bold;">{{subquestion.settings.errorMessage}}</div>
                  </div>
                </div>

                <!-- subquestion 8-->
                <div *ngIf="subquestion.key == 'datetime'">
                  <div style="font-weight: bold;">
                    <span *ngIf="subquestion.settings.isImp == true" style="color: red;">*</span>
                    {{subquestion.title}}
                  </div>
                  <div *ngIf="subquestion.hint != ''" style="font-size: 10px;font-style: italic;margin-left: 25px;">
                    {{subquestion.hint}}</div>
                  <div class="d-flex flex-column">
                    <div class="form-group mt-2">
                      <input class="form-control" [(ngModel)]="subquestion.answer" type="datetime-local"
                        name="subquestion{{i}}">

                    </div>
                    <div
                      *ngIf="subquestion.settings.isImp == 'true' && subquestion.settings.errorMessage != '' && subquestion.answer == ''"
                      class="text-danger" style="font-weight: bold;">{{subquestion.settings.errorMessage}}</div>
                  </div>
                </div>




              </div>
            </div>




            <!-- skip logic section -->



          </div>
        </div>










      </div>
    </div>
  </div>




  <div id="settingModal" class="modal fade" data-backdrop="static" role="dialog">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="d-flex justify-content-center align-items-center ">
          <h4 style="margin-top: 20px !important;">Main Question Settings</h4>
        </div>
        <div class="d-flex justify-content-center flex-column">

          <div>
            <div style="padding: 0px 16px 5px 16px;" class="d-flex flex-column">
              <h6 style="margin-top: 0px !important;">Question Options</h6>
              <label for="Mendatory Response" style="font-weight:500" class="mt-2">Mandatory Response</label>
              <div class="input-group mb-3">
                <select class="custom-select" [(ngModel)]="selectedQuestion?.settings.isImp" id="inputGroupSelect02">
                  <option [ngValue]="'true'">Yes</option>
                  <option [ngValue]="'false'">No</option>
                </select>
              </div>

              <div class="input-group mb-3" *ngIf="selectedQuestion?.settings.isImp == 'true'">
                <label for="errorMessage" style="margin: 0px !important;font-weight:500">Error Message</label>
                <input style="height: 43px;width: 100%;border: o1px solid #DDDDDD; border-radius: 0.25rem;"
                  placeholder="Enter Error Message" type="text" [(ngModel)]="selectedQuestion?.settings.errorMessage"
                  class="form-control mt-2">
              </div>


              <!-- sub question -->
              <div *ngIf="selectedQuestion?.subQuestion.length > 0">

                <div class="questionform-array" *ngFor="let subQues of selectedQuestion?.subQuestion; let k=index">
                  <div class="d-flex justify-content-center">

                    <b style="padding-left: 16px;padding-top:5px;font-size: 17px;">Question {{selectedIndex + 1}} .
                      {{k+1}}</b>
                  </div>
                  <!-- (click)="openSub1Setting(k)" -->
                  <img data-toggle="modal" data-target="#innerQuestionSettingModal" class="cp z-index-2 setting-img"
                    src="assets/images/settings.png" height="20px" alt="" srcset="">
                  <img (click)="removeSubQuestion(k)" class="cp z-index-2 delete-img" src="assets/images/delete.png"
                    height="20px" alt="" srcset="">
                  <div style="padding: 16px;">
                    <div style="font-weight:bold">
                      Question: <input style="height: 43px;" [(ngModel)]="subQues.title" type="text"
                        class="form-control" placeholder="Enter Question">
                    </div>
                    <div style="font-weight:bold" class="mt-2">
                      Hint: <input style="height: 43px;" type="text" [(ngModel)]="subQues.hint" class="form-control"
                        placeholder="Enter Hint">
                    </div>

                    <label for="Mendatory Response" style="font-weight:bold" class="mt-2">Mandatory Response</label>
                    <div class="input-group mb-3">
                      <select class="custom-select" [(ngModel)]="subQues?.settings.isImp" id="inputGroupSelect02">
                        <option [ngValue]="'true'">Yes</option>
                        <option [ngValue]="'false'">No</option>
                      </select>
                    </div>
                    <label for="errorMessage" *ngIf="subQues.settings.isImp == 'true'" style="font-weight:bold">Error
                      Message</label>
                    <div class="input-group mb-3">
                      <input style="height: 43px;" *ngIf="subQues.settings.isImp == 'true'" type="text"
                        [(ngModel)]="subQues.settings.errorMessage" class="form-control"
                        placeholder="Enter Error Message">
                    </div>
                  </div>
                  <div class="d-flex flex-column" *ngIf="subQues.options" style="padding: 0px 16px 5px 16px;">
                    <span style="font-weight:bold">Options:</span>
                    <div *ngFor="let subQuesOpt of subQues.options;index as j"
                      class="d-flex align-items-center justify-content-between">

                      <div class="d-flex align-items-center justify-content-between w-100">

                        <input style="height: 43px;width: 92%;" type="text" [(ngModel)]="subQuesOpt.option"
                          class="form-control mt-2" placeholder="Option {{j +1 }}">

                        <img (click)="removeSubOption(k,j)" src="assets/delete.png" style="cursor: pointer;"
                          height="20px" alt="" srcset="">
                      </div>
                    </div>
                    <button class="btn btn-success" style="background-color: grey;"
                      (click)="addNewSubQuesFieldOption(k)">Add
                      Option</button>
                  </div>

                  <div style="padding: 0px 16px 5px 16px; font-weight: bold;">
                    Show When:

                  </div>

                  <div class="d-flex align-items-center" style="gap: 10px;padding: 0px 16px 5px 16px;margin-top: 10px;">
                    <div class="input-group" *ngIf="selectedQuestion" style="margin-bottom: 0px;">
                      <input disabled
                        style="height: 43px;width: 100%;border: 1px solid #DDDDDD; border-radius: 0.25rem;margin-top: 0px; "
                        placeholder="Enter Error Message" type="text" [(ngModel)]="selectedQuestion.title"
                        class="form-control">
                    </div>

                    <div class="input-group" *ngIf="selectedQuestion?.settings?.isImp == 'false'"
                      style="margin-top: 0px;">
                      <select class="custom-select" style="border-top: none;
                      border-right: none;
                      border-left: none;
                      border-radius: 0px;" (change)="changeAnswerArryInSkipLogic(j)" [(ngModel)]="subQues.operation"
                        id="inputGroupSelect02">
                        <option value="pleaseselect">Please Select</option>
                        <!-- <option value="!null">Was answered</option>
                        <option value="null">Was not answered</option> -->
                        <option value="=">=</option>
                        <option value="!=">!=</option>
                      </select>
                    </div>
                    <div class="input-group" *ngIf="selectedQuestion?.settings?.isImp == 'true'"
                      style="margin-bottom: 0px;">
                      <select class="custom-select" style="border-radius: 4px;"
                        (change)="changeAnswerArryInSkipLogic(j)" [(ngModel)]="subQues.operation"
                        id="inputGroupSelect02">
                        <option value="pleaseselect">Please Select</option>
                        <option value="=">=</option>
                        <option value="!=">!=</option>
                      </select>
                    </div>
                    <div class="input-group " style="margin-bottom: 0px;"
                      *ngIf="subQues.operation != 'null' && subQues.operation != '!null' && subQues.operation != 'pleaseselect'">
                      <select class="custom-select" style="border-radius: 4px;" [(ngModel)]="subQues.selectedAnswer"
                        id="inputGroupSelect02">
                        <option [value]="null">Please select</option>
                        <ng-container *ngFor="let optionValue of selectedQuestion?.options;index as l">
                          <option [value]="optionValue.option">{{optionValue.option}}</option>
                        </ng-container>
                      </select>
                    </div>
                  </div>
                  <hr>
                  <div class="d-flex flex-column" style="padding: 0px 16px 5px 16px;">
                    <button class="btn btn-success" style="margin-top: 0px;background-color: grey;"
                      (click)="addSubQuesDuplicate(subQues,k)">Duplicate Question</button>
                  </div>
                </div>
              </div>
              <div *ngIf="selectedQuestion?.key == 'selectOne' || selectedQuestion?.key == 'selectMany'">

                <h6 style="margin-top: 10px !important;">Add Sub Question if this condition meets</h6>
              </div>
              <div class="d-flex align-items-center" style="gap: 10px;"
                *ngIf="selectedQuestion?.key == 'selectOne' || selectedQuestion?.key == 'selectMany'">
                <div class="input-group" *ngIf="selectedQuestion" style="margin-bottom: 0px;">
                  <input disabled style="height: 43px;width: 100%;border: o1px solid #DDDDDD; border-radius: 0.25rem;"
                    placeholder="Enter Error Message" type="text" [(ngModel)]="selectedQuestion.title"
                    class="form-control mt-2">
                </div>

                <div class="input-group" *ngIf="selectedQuestion?.settings?.isImp == 'false'"
                  style="margin-bottom: 0px;">
                  <select class="custom-select" style="border-top: none;
                  border-right: none;
                  border-left: none;
                  border-radius: 0px;" (change)="changeAnswerArryInSkipLogic(j)" [(ngModel)]="showQuesObj.operation"
                    id="inputGroupSelect02">
                    <option value="pleaseselect">Please Select</option>

                    <option value="=">=</option>
                    <option value="!=">!=</option>
                  </select>
                </div>
                <div class="input-group" *ngIf="selectedQuestion?.settings?.isImp == 'true'"
                  style="margin-bottom: 0px;">
                  <select class="custom-select" style="border-top: none;
                  border-right: none;
                  border-left: none;
                  border-radius: 0px;" (change)="changeAnswerArryInSkipLogic(j)" [(ngModel)]="showQuesObj.operation"
                    id="inputGroupSelect02">
                    <option value="pleaseselect">Please Select</option>
                    <option value="=">=</option>
                    <option value="!=">!=</option>
                  </select>
                </div>
                <div class="input-group mt-2" style="margin-bottom: 0px;"
                  *ngIf="showQuesObj.operation != 'null' && showQuesObj.operation != '!null' && showQuesObj.operation != 'pleaseselect'">
                  <select class="custom-select" style="border-top: none;
                  border-right: none;
                  border-left: none;
                  border-radius: 0px;" [(ngModel)]="showQuesObj.answer" id="inputGroupSelect02">
                    <option [value]="null">Please select</option>
                    <ng-container *ngFor="let optionValue of selectedQuestion?.options;index as l">
                      <option [value]="optionValue.option">{{optionValue.option}}</option>
                    </ng-container>
                  </select>
                </div>
              </div>
              <div class="d-flex" style="flex-wrap: wrap;gap: 4px;margin-top: 10px;"
                *ngIf="showQuesObj.operation == 'null' || showQuesObj.operation == '!null' || ((showQuesObj.operation == '=' || showQuesObj.operation == '!=') && showQuesObj.answer != 'null')">
                <div (click)="addSubQuestion(data);"
                  [ngStyle]="{'background-color':data.key  == selectedKey? '#7b4a9c':'#E5E5E5','color':data.key  == selectedKey? 'white':'black'}"
                  *ngFor="let data of questionKeys; let i=index"
                  class="d-flex align-items-center justify-content-center"
                  style="flex-grow: 1;width: 146px;min-height: 40px; max-height: 55px; font-size: 15px;font-weight: 500;cursor: pointer;">
                  {{data.name}}
                </div>
              </div>
              <hr style="width: 100%;">



              <h3 style="padding-top: 10px;">Skip Logic Section</h3>
              <!-- skip logic section logic work -->

              <div *ngFor="let skipData of selectedQuestion?.settings.skipLogic;index as i">
                <div class="d-flex align-items-center form-group" style="gap: 10px;">
                  <input type="text" disabled class="form-control" [(ngModel)]="skipData.questionTitle">
                  <input type="text" *ngIf="skipData.operation == 'null'" disabled class="form-control"
                    value="Is not answered">
                  <input type="text" *ngIf="skipData.operation == '!null'" disabled class="form-control"
                    value="Is answered">
                  <input type="text" *ngIf="skipData.operation == '='" disabled class="form-control" value="=">
                  <input type="text" *ngIf="skipData.operation == '!='" disabled class="form-control" value="!=">
                  <input type="text" *ngIf="skipData.operation == '=' || skipData.operation == '!='" disabled
                    class="form-control" [(ngModel)]="skipData.answer">


                  <img src="assets/delete.png" style="cursor: pointer;" height="20px" width="20px" alt=""
                    (click)="deleteSkipLogic(i)" srcset="">
                </div>

              </div>
              <div class="d-flex align-items-center" style="gap: 10px;">
                <div class="input-group" style="margin-bottom: 0px;">
                  <select class="custom-select" (change)="getQuestionIndex($event)" style="border-top: none;
                    border-right: none;
                    border-left: none;
                    border-radius: 0px;" [(ngModel)]="skipLogic.questionTitle" id="inputGroupSelect02">
                    <option [ngValue]="'pleaseselect'">Please Select</option>

                    <option [ngValue]="question.title" [hidden]="i == selectedIndex"
                      *ngFor="let question of getSkipLogicQuestions();index as i">
                      {{question.title}}</option>

                  </select>
                </div>

                <div class="input-group" style="margin-bottom: 0px;">
                  <select class="custom-select" style="border-top: none;
                border-right: none;
                border-left: none;
                border-radius: 0px;" (change)="changeAnswerArryInSkipLogic($event)" [(ngModel)]="skipLogic.operation"
                    id="inputGroupSelect02">
                    <option [value]="'pleaseselect'">Please Select</option>
                    <option [value]="data.operation" *ngFor="let data of finalOperations">{{data.value}}</option>
                  </select>
                </div>
                <div class="input-group mt-2" style="margin-bottom: 0px;"
                  *ngIf="skipLogic.operation != 'null' && skipLogic.operation != '!null' && skipLogic.operation != 'pleaseselect'">
                  <select class="custom-select" style="border-top: none;
                border-right: none;
                border-left: none;
                border-radius: 0px;" (change)="pushInQuestion($event)" [(ngModel)]="skipLogic.answer"
                    id="inputGroupSelect02">
                    <option [value]="'pleaseselect'">Please select</option>
                    <ng-container *ngFor="let optionValue of skipLogicAnswerArray;index as l">
                      <option [value]="optionValue.option">{{optionValue.option}}</option>
                    </ng-container>
                  </select>
                </div>

                <img src="assets/delete.png" height="20px" width="20px" alt="" srcset="">
              </div>


            </div>
          </div>

          <div class="d-flex justify-content-end" style="padding: 0px 16px 5px 16px;">
            <button class="btn btn-danger" (click)="cancelSetting()" data-dismiss="modal"
              style="float: right;">Cancel</button>
            <button type="submit" (click)="saveSurvey()" class="btn btn-success" style="float: right;">
              Save Settings</button>
            <button class="btn btn-danger" hidden id="close" data-dismiss="modal">cancel</button>
          </div>



        </div>

      </div>

    </div>
  </div>

  <div id="innerQuestionSettingModal" class="modal fade" data-backdrop="static" role="dialog">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="d-flex justify-content-center align-items-center ">
          <h4 style="margin-top: 20px !important;">Sub Question Settings</h4>
        </div>
        <div class="d-flex justify-content-center flex-column">

          <div>
            <div style="padding: 0px 16px 5px 16px;" class="d-flex flex-column">
              <h6 style="margin-top: 0px !important;">Question Options</h6>

              <div style="font-weight:bold" *ngIf="selectedQuestion?.settings.isImp == 'true'" class="mt-2">
                Error Message: <input style="height: 43px;" type="text"
                  [(ngModel)]="selectedQuestion.settings.errorMessage" class="form-control"
                  placeholder="Enter Error Message">
              </div>

              <div class="input-group mb-3" *ngIf="selectedQuestion?.settings.isImp == 'true'">
                <label for="errorMessage" style="margin: 0px !important;font-weight:500">Error Message</label>
                <input style="height: 43px;width: 100%;border: o1px solid #DDDDDD; border-radius: 0.25rem;"
                  placeholder="Enter Error Message" type="text" [(ngModel)]="selectedQuestion?.settings.errorMessage"
                  class="form-control mt-2">

              </div>

              <!-- sub question section -->

              <h6 *ngIf="selectedQuestion?.settings.isImp == 'true'" style="margin-top: 10px !important;">Add
                subquestion on the base of main question's answer
              </h6>


              <!-- sub questions -->
              <div *ngIf="selectedQuestion?.subQuestion.length > 0" style="padding-left: 10%;">

                <div class="questionform-array" *ngFor="let subQues of selectedQuestion?.subQuestion; index as k">
                  <div class="d-flex justify-content-center">

                    <b style="padding-left: 16px;padding-top:5px;font-size: 17px;">Question {{selectedIndex + 1}} .
                      {{k+1}} </b>
                  </div>
                  <img (click)="openSub1Setting(i,k)" data-toggle="modal" data-target="#settingModal"
                    class="cp z-index-2 setting-img" src="assets/images/settings.png" height="20px" alt="" srcset="">
                  <img (click)="removeSub1Question(i,k)" class="cp z-index-2 delete-img" src="assets/images/delete.png"
                    height="20px" alt="" srcset="">
                  <div style="padding: 16px;">
                    <div style="font-weight:bold">
                      Question: <input style="height: 43px;" [(ngModel)]="subQues.title" type="text"
                        class="form-control" placeholder="Enter Question">
                    </div>
                    <div style="font-weight:bold" class="mt-2">
                      Hint: <input style="height: 43px;" type="text" [(ngModel)]="subQues.hint" class="form-control"
                        placeholder="Enter Hint">
                    </div>
                  </div>
                  <div class="d-flex flex-column" *ngIf="subQues.options" style="padding: 0px 16px 5px 16px;">
                    <span style="font-weight:bold">Options:</span>
                    <div *ngFor="let subQuesOpt of subQues.options;index as j"
                      class="d-flex align-items-center justify-content-between">

                      <div class="d-flex align-items-center justify-content-between w-100">
                        <input style="height: 43px;width: 92%;" type="text" [(ngModel)]="subQuesOpt.option"
                          class="form-control mt-2" placeholder="Option {{j +1 }}">

                        <img (click)="removeSubOption(k,j)" src="assets/delete.png" style="cursor: pointer;"
                          height="20px" alt="" srcset="">
                      </div>
                    </div>
                    <button class="btn btn-success" style="background-color: grey;" (click)="addNewFieldOption(i,k)">Add
                      Option</button>
                  </div>
                  <div class="d-flex flex-column" style="padding: 0px 16px 5px 16px;">
                    <button (click)="addSubQuestionBool = true" class="btn btn-success"
                      style="margin-top: 0px;background-color: grey;">Add Sub Questions</button>
                  </div>
                  <hr>
                  <div class="d-flex flex-column" style="padding: 0px 16px 5px 16px;">
                    <button class="btn btn-success" style="margin-top: 0px;background-color: grey;"
                      (click)="addDuplicate(data,i)">Duplicate Question</button>
                  </div>
                </div>
              </div>
              <div class="d-flex flex-column"
                *ngIf="selectedQuestion?.title != '' && selectedQuestion?.options?.length > 0"
                style="padding: 0px 16px 5px 16px;">
                <button (click)="addSubQuestionBool = true" class="btn btn-success"
                  style="margin-top: 0px;background-color: grey;">Add Sub Questions</button>
              </div>

              <div class="d-flex" style="flex-wrap: wrap;gap: 4px;padding: 0px 16px 0px 16px;"
                *ngIf="addSubQuestionBool">
                <div (click)="addSubQuestion(data);"
                  [ngStyle]="{'background-color':data.key  == selectedKey? '#7b4a9c':'#E5E5E5','color':data.key  == selectedKey? 'white':'black'}"
                  *ngFor="let data of questionKeys; let i=index"
                  class="d-flex align-items-center justify-content-center"
                  style="flex-grow: 1;width: 146px;min-height: 40px; max-height: 55px; font-size: 15px;font-weight: 500;cursor: pointer;">
                  {{data.name}}
                </div>
              </div>

            </div>
          </div>
          <div class="d-flex justify-content-end" style="padding: 0px 16px 5px 16px;">
            <button class="btn btn-danger" (click)="cancelSetting()" data-dismiss="modal"
              style="float: right;">Cancel</button>
            <button type="submit" class="btn btn-success" style="float: right;">
              Save Settings</button>
            <button class="btn btn-danger" hidden id="close" data-dismiss="modal">cancel</button>
          </div>



        </div>

      </div>

    </div>
  </div>